<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Reporting Platform - The Platform for Reporting</title>
	
	<!-- Favicon image -->
	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
	<!-- Standard reset.css from http://meyerweb.com/eric/tools/css/reset/ -->
	<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
	<!-- Josefin Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,300italic,400italic,600,600italic,700,100italic|Josefin+Slab:400,400italic,600,600italic,700,300' rel='stylesheet' type='text/css'>
	<!-- Materiallize - icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Materiallize - Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<!-- Our custom css file -->	
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<!-- Minified jquery -->
	<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
	<!-- Materiallize - Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper container">
				<a href="index.html" class="brand-logo"><img id="headerLogo" src="/assets/images/Reporting_Platform_logo.png" alt="Reporting Platform logo"></a>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="panel">
					<h2 style="text-align:center">Run the report to find out what the dealio is ...</h2>
					<div class="col s12">
						<div class="row">
							<div class="input-field col s4">
								<select id="selector">
									<option value="0" disabled>Filter by Class</option>
								</select>
							</div>
							<div class="input-field col s3">
								<input id="priceSearch" type="text" class="">
								<label for="priceSearch">Price greater than ... </label>
							</div>
							<div class="input-field col s3">
								<input id="qtySearch" type="text" class="">
								<label for="qtySearch">QTY In-stock greater than ... </label>
							</div>
							<div class="input-field col s2">
								<a class="waves-effect waves-light btn" id="searchSubmit">SUBMIT</a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					{{{body}}}
				</div>
			</div>
		</div>
	</div>
	
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="">Reporting 101</h5>
					<p class="">You have all of the data. Why don't you make the data work for you by expanding your business intelligence. Adding a new report could give you a leg up in the marketplace.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="">Site</h5>
					<ul>
						<li><a class="" href="/">home</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container center-align">
				© 2016 - jeremiahscanlon.com
			</div>
		</div>
	</footer>
	
	<script type="text/javascript">
	$(document).ready(function() {
		var currentUrl = window.location.origin;
		$('#searchSubmit').click(function(){
			var classSearch = $( "#selector" ).val();
			var priceSearch = $('#priceSearch').val().trim();
			var qtySearch = $('#qtySearch').val().trim();
			
			if (!priceSearch & !qtySearch & !classSearch) {
				location.href = currentUrl + "/report/";
				return false;
			} else {
				if (!priceSearch & !qtySearch) {
					location.href = currentUrl + "/report/"+classSearch;
					return false;
				}else {
					location.href = currentUrl + "/report/"+classSearch+"/"+priceSearch+"/"+qtySearch;
					return false;
				}
			}
		});
		
		// console.log(currentUrl);
		$.get(currentUrl + "/api/allcategories")
		.done(function(data){
			//console.log(data[0].name);
			for (var i = 0; i < data.length; i++) {
				var className = data[i].name;
				var option = '<option value="'+className+'">'+className+'</option>';
				$('#selector').append(option);
			};
		});
	});
	</script>

</body>
</html>